:root {
}

[theme-data='dark'] {
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  width: 100%;
  background-color: var(--bg-color);
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container > div:nth-of-type(1) > img {
  width: 45%;
  padding: 10px;
}

.header-container > div:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container > div:nth-of-type(2) > img {
  width: 15%;
}

.header-container > div:nth-of-type(2) > button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
